/*information-section*/
.information-home{
	height: 640px;
	background-image: url("/resources/images/beach1.jpg");
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
	color:var(--secondary-text-color);
	position:relative;
	
}

.information-home .information-text{
	animation: leftSlideIn 1.2s ease-in;
}


.information-home .grid{
	overflow: visible;
	grid-template-columns: 55% 45%;
	gap: 30px;
}


.information-login{
	animation: rightSlideIn 1.2s ease-in;
	height: 350px;
	width: 300px;
	justify-self: flex-end;
	color: var(--secondary-text-color);
		
}

.information-login .form-control{
	margin: 30px 0;
}

.information-login input[type = "text"],
.information-login input[type = "password"]{
	border: 0;
	border-bottom: 1.5px solid #b4becb;
	width: 100%;
	padding: 3px;
	font-size: 16px;
}

/*Media queries for tablet and under*/
@media(max-width: 768px){
	.grid,
	.information-home .grid,
	.footer .grid-3{
	 grid-template-columns: 1fr;
	 grid-template-rows: 1fr;
	}
	
	.information-home{
		height: auto;

	}
	
	.information-text{
		text-align: center;
		margin-top: 40px;
	}
	
	.information-login .card{
		justify-self: center;
		margin: auto;
		
	}
}

/*Media queries for mobile*/
@media(max-width: 500px){
	.navbar{
		height: 330px;
	}
	
	
	.navbar .flex{
		flex-direction: column;
	}
	
	.navbar ul{
		padding: 10px;
		background-color: rgba(0, 0 , 0, 0.1);
	}
}




/* styles to be updated and removed in next iteration*/
.addHotelForm{
  /* The image used */
  background-image: url("/resources/images/hotel front.jpg");

  /* Control the height of the image */
  min-height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	
}

.resResultPageImage{
	 /* The image used */
  background-image: url("/resources/images/calendar1.jpg");

  /* Control the height of the image */
  min-height: 300px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.userDetailsTable{
  
  font-family: Helvetica now, Georgia ,serif, "san-serif" ;
  border-collapse: collapse;
  margin-left:15%;
  margin-right:15%;
  width:70%;
	
}

.userDetailsImage{
		 /* The image used */
  background-image: url("/resources/images/data1.jpg");

  /* Control the height and width of the image */
  min-height: 300px;
  margin-right:15%;
  margin-left:15%;
  width:70%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

